.HeroHeadingStyle {
    font-size: 1.3rem;
}


@media screen and (min-width: 425px) {
    .HeroHeadingStyle {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .HeroHeadingStyle {
        font-size: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .HeroHeadingStyle {
        font-size: 4rem;
    }
}

@media screen and (min-width: 1220px) {
    .HeroHeadingStyle {
        font-size: 5rem;
    }
}

@media screen and (min-width: 1440px) {
    .HeroHeadingStyle {
        font-size: 5.5rem;
    }
}

@media screen and (min-width: 1920px) {
    .HeroHeadingStyle {
        font-size: 8rem;
    }
}

@media screen and (min-width: 2200px) {
    .HeroHeadingStyle {
        font-size: 10rem;
    }
}