h1.bg {
    font-size: 5.2rem;
    line-height: 100px;
    font-weight: 700;
    /* text-transform: uppercase; */
    background: url("/assets/gigi.gif") 0 0 / cover no-repeat;
    color: #de466c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-shadow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), transparent);
    pointer-events: none;
    z-index: 2;
}

.uiUxsuhHead {
    font-size: 20px;
    font-weight: 400;
    font-family: "poppins";
}


@media screen and (max-width: 768px) {
    h1.bg {
        font-size: 3rem;
        line-height: 1;
        font-weight: 500;
    }
}