.bgimar {
  background-color: #000000;
  position: relative;
  overflow: hidden;
}

.bgimar::before,
.bgimar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 30;
  pointer-events: none;
}

.bgimar::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.bgimar::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
