.addSerBg{
    background-image: url("../../assets/addServices.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addSectionTwo {
    padding: 8rem 0 0 0;
} 